<%- layout("/adminIncludes/adminBoilerplate") %>

<style>
    .product-card:hover .edit-icon{
        opacity: 1 !important;
    }
    .product-card:hover .delete-icon{
        opacity: 1 !important;
    }

    .product-card .delete-icon:hover{
        color: red;
    }
    .product-card .edit-icon:hover{
        color: blue;
    }
</style>

<div class="w-full h-[calc(100vh-80px)] flex overflow-hidden">
    <!--filter view-->
    <div class="w-[20%] flex flex-col h-full items-start px-20 py-10 overflow-y-auto border-r-[2px] border-zinc[100]">
        <div class="flex items-center gap-2">
            <a class="text-md" href="/admin/adminDashboard">All Products</a>
        </div>
        <div class="flex flex-col mt-2">
            <a class="block w-fit mb-2 text-md" href="/admin/create">Create New Product</a>
        </div>
    </div>

    <!--product view-->
    <div class="w-[80%] flex flex-col h-full gap-3 overflow-y-auto pl-24 py-4 bg-white shadow">
        <div>
            <a class="text-red-600" href="/admin/deleteAllProduct">Delete All</a>
        </div>
        <div class="flex flex-wrap items-start gap-4 justify-start">
            <!--this checkpoint is not neccessary but good for the practice-->
            <% if(products.length > 0){ %>
                <% products.forEach(function(product) { %>
                    <!--this is the single product structure-->
                    <div class="w-60">

                        <div class="product-card relative w-full h-52 flex items-center justify-center bg-[<%= product.bgcolor %>]">
                            <!--this is delete icon-->
                            <form action="/admin/deleteProduct/<%= product.id %>?_method=DELETE" method="post" class="absolute top-4 left-5 opacity-0 delete-icon">
                                <button type="submit" class="cursor-pointer border-none bg-transparent p-0">
                                    <i class="fa-regular fa-trash-can text-xl"></i>
                                </button>
                            </form>

                            <!--this is edit icon-->
                            <a class="absolute top-4 right-5 cursor-pointer opacity-0 edit-icon" href="/admin/editProduct/<%= product.id %>">
                                <i class="fa-regular fa-pen-to-square text-xl"></i>
                            </a>

                            <img class="h-[12rem]" src="data:image/jpeg;base64,<%= product.image.toString('base64') %>" alt=".">
                            
                        </div>

                        <div class="flex justify-between items-center px-4 py-4 text-white bg-[<%= product.pannelcolor %>]">
                            <div>
                                <h3> <%= product.name %> </h3>
                                <h4>₹ <%= product.price %> </h4>
                            </div>
                        </div>
                    </div>
                <% }) %>
            <% } %>
            
        </div>
    </div>
</div>