<% layout("/layouts/boilerplate") %>

<div class="w-full h-[calc(100vh-80px)] flex overflow-hidden">

    <!--left side product image & price-->
    <div class="w-[70%] h-full overflow-y-auto pl-6 py-4">
        <div class="flex flex-wrap gap-6 items-start">
            <% user.cart.forEach(function(product) { %>
                <div class="w-[30%] min-w-[250px] rounded-md overflow-hidden shadow-lg mb-4">
    
                    <div class="w-full flex justify-center items-center h-80 bg-[<%= product.bgcolor %>] relative">

                        <a href="/remove-from-cart/<%= product._id %>" class="absolute top-4 right-5 cursor-pointer opacity-100 hover:text-red-600">
                            <i class="fa-regular fa-trash-can"></i>
                        </a>

                        <img class="h-[14rem]" src="data:image/jpeg;base64, <%= product.image.toString('base64') %>" alt="">
                        
                    </div>
    
                    <div class="w-full flex justify-between px-5 py-4 bg-[<%= product.pannelcolor %>]">
                        <h3 class="text-xl"><%= product.name %></h3>
                        <div class="flex items-center gap-2">
                            <i class="w-7 h-7 bg-white flex rounded-full items-center justify-center  fa-solid fa-minus"></i>
                            <div class="text-black px-2 py-1 rounded-md bg-white">01</div>
                            <i class="w-7 h-7 bg-white flex rounded-full items-center justify-center  fa-solid fa-plus"></i>
                        </div>
                    </div>
    
                    <div class="flex items-center justify-between px-5 py-3 text-white bg-[<%= product.textcolor %>]">
                        <h4 class="text-lg">Net Total</h4>
                        <h2 class="text-lg">₹ <%= product.price - product.discount %> </h2>
                    </div>
    
                </div>
            <% }) %>
        </div>
    </div>

    <!--right side product price breakdown-->
    <div class="w-[30%] rounded-md ml-10 py-5">
        <h3 class="text-lg font-extrabold flex justify-center">Price Breakdown</h3>

        <div class="px-10">
            <div class="flex mt-2 justify-between">
                <h4 class="font-bold">Total MRP</h4>
                <h4 class="font-bold">₹ <%= totalMRP %></h4>
            </div>

            <div class="flex justify-between mt-3 mt-2">
                <h4>Discount on MRP</h4>
                <h4>₹ <%= discount %></h4>
            </div>
    
            <div class="flex justify-between mt-3 mt-2">
                <h4>Platform Fee</h4>
                <h4>₹ 20</h4>
            </div>
    
            <div class="flex justify-between mt-3 mt-2">
                <h4>Shipping Fee</h4>
                <h4>&nbsp;Free</h4>
            </div>
        </div>

        <div class="bg-black mt-10 w-full h-[1px]"></div>

        <div class="flex mt-5 justify-between px-10">
            <h3 class="font-bold text-lg">Total Ammount</h3>
            <h3 class="font-semibold text-xl text-green-600">₹ <%= bill %> </h3>
        </div>
    </div>
</div>