<% layout("/layouts/boilerplate") %>

<div class="w-full h-[calc(100vh-80px)] flex overflow-hidden">
    <!--filter view-->
    <div class="w-[20%] flex flex-col h-full items-start px-14 py-10 border-r-[2px] border-zinc[100] overflow-y-auto">
        <div class="flex items-center gap-2">
            <h3>sort by:</h3>
            <form action="/shop">
                <select class="border-[1px] px-2 py-1" name="sortby">
                    <option value="popular">Popular</option>
                    <option value="newest">Newest</option>
                </select>
            </form>
        </div>
        <div class="flex flex-col mt-20">
            <a class="block w-fit mb-2" href="">New Collection</a>
            <a class="block w-fit mb-2" href="">All Products</a>
            <a class="block w-fit mb-2" href="">Discounted Products</a>
        </div>
        <div class="flex items-center mt-32">
            <a class="block w-fit mb-2 mr-2">Filter by: </a>
            <form action="/shop">
                <select class="border-[1px] px-2 py-1" name="filterby">
                    <option value="availability">Availability</option>
                    <option value="discount">Discount</option>
                </select>
            </form>
        </div>
    </div>

    <!--product view-->
    <div class="w-[80%] flex flex-col h-full gap-5 overflow-y-auto pl-24 py-4 bg-white shadow">
        <div class="flex flex-wrap items-start gap-4 justify-start">
            <% products.forEach(function(product) { %>
                <!--this is the single product structure-->
                <div class="w-60">
                    <div class="w-full h-52 flex items-center justify-center bg-[<%= product.bgcolor %>]">

                        <img class="h-[12rem]" src="data:image/jpeg;base64,<%= product.image.toString('base64') %>" alt=".">
                        
                    </div>
                    <div class="flex justify-between items-center px-4 py-4 text-white bg-[<%= product.pannelcolor %>]">
                        <div>
                            <h3> <%= product.name %> </h3>
                            <h4>₹ <%= product.price %> </h4>
                        </div>
                        <a class="w-7 h-7 flex items-center justify-center rounded-full bg-white" href="/addtocart/<%=product.id%>">
                            <i class="fa-solid fa-plus" style="color: black;"></i>
                        </a>
                    </div>
                </div>
            <% }) %>
            
        </div>
    </div>
</div>